body,
html {
  height: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
}
.heading {
  background-image: url("/img/wedding.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
