@media only screen and (max-width: 5760px) {
  h1 {
    font-size: 30px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  img {
    max-width: 100%;
  }
}

body,
html {
  height: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: aliceblue;
  opacity: 0.7;
}

p {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

h4,
h5 {
  font-family: "Poppins", sans-serif;
}
h4 {
  margin-top: 20px;
}

.centered-p {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.heading {
  background-image: url("/img/wedding.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.heading-text {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: black;
  background-color: aliceblue;
  border: 1px aliceblue;
  border-radius: 5px;
  opacity: 0.7;
}
.about {
  background-image: url("/img/about.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.contct-slide {
  background-image: url("/img/friends.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.intro {
  text-align: center;
  margin: 20px 50px;
}
footer {
  background-color: lightgrey;
  margin-top: 50px;
}
footer a:link {
  font-family: "Raleway", sans-serif;
  color: grey;
}
footer a:hover {
  color: lightpink;
}
footer a:visited {
  color: cadetblue;
}
.services {
  margin: 50px 0;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

i {
  background-color: #fdf2ec;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  color: #ff9966;
}
